#background{
  background-image: url('/img/Background2.png');
  background-size: 100%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #222223;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #222223;
  font-size: 13px;
}

body .container-sign{
  display: grid;
  place-items: center;
  min-height: 100vh;
  padding: 30px;
}

a{
  text-decoration: none;
  color: #222223;
}

section h1{
  font-size: 70px;
}

section h2{
  font-size: 43px;
}

section h3{
  font-size: 22px;
}

section h4{
  font-size: 18px;
  margin: 0;
}

section p{
  font-size: 16px;
  margin: 0;
}

h5{
  font-size: 15px;
  margin-top: 10px;
}

input, button, textarea{
  color: #222223;
  font-size: 13px;
  padding: 8px 10px;
  border: none;
  transition: 1s;
}

input:-webkit-autofill {
  background-color: #f5f5f5;
}

button, section button{
  height: 40px;
}

section button:hover{
  background-color: #77b3c7;
}

.no-margin-no-padding{
  margin: 0;
  padding: 0;
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

.text-justify{
  text-align: justify;
}

.bold{
  font-weight: 600;
}

.medium{
  font-weight: 500;
}

.font-space{
  letter-spacing: 0.4px;
}

.semi-black{
  color: #3a3a3a;
}

.tosca{
  color: #579BB1;
}

.beige{
  color: #d2c0a1;
}

.beige1{
  color: #e1d7c6;
}

.beige2{
  color: #ece8dd;
}

.beige3{
  color: #f8f4ea;
}

.white{
  color: white;
}

.tosca-bg{
  background-color: #579BB1;
}

.beige1-bg{
  background-color: #e1d7c6;
}

.beige2-bg{
  background-color: #ece8dd;
}

.beige3-bg{
  background-color: #f8f4ea;
}

.grey-bg{
  background-color: #f0f0f0;
}

.white-bg{
  background-color: white;
}

.white-tr-bg{
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(200px);
}

.no-bg{
  background-color: transparent;
}

.navbar-transparent {
  background-color: transparent !important;
}

.radius{
  border-radius: 10px;
}

.no-border{
  border: none;
}

.border-05{
  border: 1.5px solid #579BB1;
}

.pointer{
  cursor: pointer;
}

.display-inline{
  display: inline;
}

.display-grid{
  display: grid;
}

.gtc-1fr{
  grid-template-columns: 1fr;
}

.gtc-2fr{
  grid-template-columns: 1fr 1fr;
}

.gtc-3fr{
  grid-template-columns: 2fr 1fr;
}

.gtc-3fr-v2{
  grid-template-columns: 1fr 2fr;
}

.gtc3fr{
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  grid-gap: 15px;
}

.display-flex{
  display: flex;
}

.flex-column{
  flex-direction: column;
}

.align-center{
  align-items: center;
}

.justify-center{
  justify-content: center;
}

.justify-right{
  justify-content: right;
}

.full-width{
  width: 100%;
}

.almost-full-width{
  width: 90%;
}

.quarter-width{
  width: 75%;
}

.half-width{
  width: 50%;
}

.width-130{
  width: 130px;
}

.width-80{
  width: 80px;
}

.width-40{
  width: 40px;
}

.width-15{
  width: 15px;
}

.full-height{
  height: 100%;
}

.height-20{
  height: 20px;
}

.height-23{
  height: 23px;
}

.margin-20-0-30-0{
  margin: 20px 0 30px 0;
}

.margin-top-40{
  margin-top: 40px;
}

.margin-right-10{
  margin-right: 10px;
}

.margin-right-20{
  margin-right: 20px;
}

.margin-bottom-15{
  margin-bottom: 15px;
}

.padding-50{
  padding: 50px;
}

.padding-15{
  padding: 15px;
}

.padding-30-40{
  padding: 30px 40px;
}

.padding-0-175{
  padding: 0 175px;
}

.padding-50-175{
  padding: 50px 175px;
}

.box-form{
  box-shadow: 0px 0px 21px 5px rgba(57, 57, 57, 0.1);
  border-radius: 20px;
}

.form-field:hover{
  border: 1.5px solid #ccc;
}

.no-bg:focus{
  outline: none;
  border-radius: 10px;
}

.border-form{
  border: 1.5px solid #eaeaea;
}

.checkbox{
  width: 30px;
  margin-right: 10px;
}

.div-icon{
  margin: 8px 0px 8px 8px;
  padding: 4px;
  border-radius: 5px;
}

.div-icon2{
  margin: 8px 8px 8px 0px;
  padding: 4px;
  border-radius: 5px;
}

@media (max-width: 860px) {
  .container-sign{
    grid-template-columns: 1fr;
  }

  section.left{
    display: none;
  }

  .box-form{
    width: 100%;
  }
}

/* CSS NAVBAR */

nav.navbar{
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 14px;
}

div.container-fluid{
  padding: 12px 50px;
  /* box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1); */
}

@media screen and (max-width:990px) {
  .margin-bottom-12{
    margin-bottom: 12px;
  }
}

/* CSS SECTION */

.gradient1{
  background: linear-gradient(to bottom, white, #f8f4ea);
}

.gradient2{
  background: linear-gradient(to bottom, #f8f4ea, white);
}

.illustration-right, .illustration-left{
  margin-left: 50px;
}

@media screen and (max-width:1120px) {
  section h1{
    font-size: 58px;
  }

  section h2{
    font-size: 40.5px;
  }

  section h3{
    font-size: 20px;
  }

  section p{
    font-size: 15.5px;
  }

  .contact{
    padding: 50px 165px;
  }
}

@media screen and (max-width:930px) {
  section h1{
    font-size: 45px;
  }

  section h2{
    font-size: 38px;
  }

  section h3{
    font-size: 19px;
  }

  section p{
    font-size: 15px;
  }

  .home-page2, .about-page1, .about-page2a, .about-page2b{
    padding: 0;
    padding: 50px 165px;
  }

  .contact{
    padding: 50px 75px;
  }
}

@media screen and (max-width:745px) {
  .home-page1, .about-page1 div, .about-page2a, .about-page2b, .contact{
    text-align: center;
    display: block;
  }
  
  .about-page2a{
    display: flex;
    flex-direction: column-reverse;
  }

  .illustration-right, .illustration-left{
    margin-left: 0;
  }

  .home-page1 .illustration-right img, .illustration-left, .illust{
    margin-top: 40px;
  }

  .home-page2, .about-page1, .about-page2a, .about-page2b{
    padding: 50px 75px;
  }

  .contact{
    padding: 50px;
  }

  .illustration .distance{
    display: none;
  }
}

@media screen and (max-width: 600px) {
  div.container-fluid{
    padding: 12px 30px;
  }

  .home-page1, .home-page2, .about-page1, .about-page2a, .about-page2b, .contact, .slide-container, .contact-container{
    padding: 30px;
  }

  section h1{
    font-size: 40px;
  }

  section h2{
    font-size: 36px;
  }

  section h3{
    font-size: 18px;
  }

  section p{
    font-size: 14px;
  }

  .home-page2 br{
    display: none;
  }
}

/* Gaya untuk pop-up */
.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
}

.popup-content h2 {
  margin-top: 0;
}

.popup-content p {
  margin-bottom: 20px;
}

#popup-ok-btn {
  padding: 5px 10px;
  background-color: #579BB1;
  color: white;
  border: none;
  cursor: pointer;
}

#popup-close-btn {
  padding: 5px 10px;
  background-color: #579BB1;
  color: white;
  border: none;
  cursor: pointer;
}

.error-message {
  color: red;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

/* Gaya transisi halaman */
.box-form {
  opacity: 0;
  animation: fade-in 0.5s ease-in-out forwards;
}

@keyframes fade-in {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

/* CSS OUR TEAM */

.cards{
  width: 100%;
  border-radius: 20px;
}

.image-content{
  position: relative;
  row-gap: 5px;
  padding: 20px 0;
}

.overlay, .overlays{
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 20px 20px 0 20px;
}

.overlay::before, .overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -20px;
  height: 20px;
  width: 20px;
  background-color: #579BB1;
}

.overlays::before, .overlays::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -20px;
  height: 20px;
  width: 20px;
  background-color: #e1d7c6;
}

.overlay::after, .overlays::after{
  border-radius: 0 20px 0 0;
  background-color: #fff;
}

.card-image{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  padding: 3px;
}

.card-image .card-img{
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #579BB1;
}

.card-image .cards-img{
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #e1d7c6;
}