#background{
  background-image: url('/img/Background.png');
  background-size: 100%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #222223;
}

body{
  font-size: 13px;
}

body .container-sign{
  display: grid;
  place-items: center;
  min-height: 100vh;
  padding: 30px;
}

a{
  text-decoration: none;
  color: #222223;
}

section h1{
  font-size: 70px;
}

section h2{
  font-size: 43px;
}

section h3{
  font-size: 22px;
}

h4{
  font-size: 15px;
  margin-top: 10px;
}

input, button{
  color: #222223;
  font-size: 13px;
  padding: 8px 10px;
  border: none;
  transition: 1s;
}

input:-webkit-autofill {
  background-color: #f5f5f5;
}

button{
  height: 40px;
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

.text-justify{
  text-align: justify;
}

.bold{
  font-weight: 600;
}

.medium{
  font-weight: 500;
}

.font-space{
  letter-spacing: 0.4px;
}

.tosca{
  color: #579BB1;
}

.beige{
  color: #d2c0a1;
}

.beige1{
  color: #e1d7c6;
}

.beige2{
  color: #ece8dd;
}

.beige3{
  color: #f8f4ea;
}

.white{
  color: white;
}

.tosca-bg{
  background-color: #579BB1;
}

.beige1-bg{
  background-color: #e1d7c6;
}

.beige2-bg{
  background-color: #ece8dd;
}

.beige3-bg{
  background-color: #f8f4ea;
}

.grey-bg{
  background-color: #e8e8e8;
}

.white-bg{
  background-color: white;
}

.white-tr-bg{
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(200px);
}

.no-bg{
  background-color: transparent;
}

.navbar-transparent {
  background-color: transparent !important;
}

.radius{
  border-radius: 10px;
}

.no-border{
  border: none;
}

.border-05{
  border: 1.5px solid #579BB1;
}

.pointer{
  cursor: pointer;
}

.display-inline{
  display: inline;
}

.display-grid{
  display: grid;
}

.gtc-1fr{
  grid-template-columns: 1fr;
}

.gtc-2fr{
  grid-template-columns: 1fr 1fr;
}

.gtc-3fr{
  grid-template-columns: 2fr 1fr;
}

.gtc-3fr-v2{
  grid-template-columns: 1fr 2fr;
}

.display-flex{
  display: flex;
}

.align-center{
  align-items: center;
}

.justify-center{
  justify-content: center;
}

.justify-right{
  justify-content: right;
}

.full-width{
  width: 100%;
}

.almost-full-width{
  width: 90%;
}

.quarter-width{
  width: 75%;
}

.half-width{
  width: 50%;
}

.width-130{
  width: 130px;
}

.width-80{
  width: 80px;
}

.width-40{
  width: 40px;
}

.width-15{
  width: 15px;
}

.full-height{
  height: 100%;
}

.height-20{
  height: 20px;
}

.margin-20-0-30-0{
  margin: 20px 0 30px 0;
}

.margin-top-40{
  margin-top: 40px;
}

.margin-right-10{
  margin-right: 10px;
}

.margin-right-20{
  margin-right: 20px;
}

.margin-bottom-15{
  margin-bottom: 15px;
}

.padding-50{
  padding: 50px;
}

.padding-0-175{
  padding: 0 175px;
}

.padding-50-175{
  padding: 50px 175px;
}

.box-form{
  box-shadow: 0px 0px 21px 5px rgba(57, 57, 57, 0.1);
  padding: 30px 40px;
  border-radius: 20px;
}

.form-field:hover{
  background-color: white;
  border: 1.5px solid #ccc ;
}

.no-bg:focus {
  background-color: #e5e5e5;
  outline: none;
  border-radius: 10px;
}

.checkbox{
  width: 30px;
  margin-right: 10px;
}

.div-icon{
  margin: 8px 0px 8px 8px;
  padding: 4px;
  border-radius: 5px;
}

.div-icon2{
  margin: 8px 8px 8px 0px;
  padding: 4px;
  border-radius: 5px;
}

@media (max-width: 860px) {
  .container-sign{
    grid-template-columns: 1fr;
  }

  section.left{
    display: none;
  }

  .box-form{
    width: 100%;
  }
}

/* CSS NAVBAR */

nav.navbar{
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 14px;
}

div.container-fluid{
  padding: 12px 50px;
  /* box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1); */
}

@media screen and (max-width:990px) {
  .margin-bottom-12{
    margin-bottom: 12px;
  }
}

/* CSS SECTION */

.gradient1{
  background: linear-gradient(to bottom, white, #f8f4ea);
}

.gradient2{
  background: linear-gradient(to bottom, #f8f4ea, white);
}

.illustration-right, .illustration-left{
  margin-left: 50px;
}

@media screen and (max-width:1120px) {
  section h1{
    font-size: 58px;
  }

  section h2{
    font-size: 40.5px;
  }

  section h3{
    font-size: 20px;
  }

  section p{
    font-size: 15.5px;
  }
}

@media screen and (max-width:930px) {
  section h1{
    font-size: 45px;
  }

  section h2{
    font-size: 38px;
  }

  section h3{
    font-size: 19px;
  }

  section p{
    font-size: 15px;
  }

  .home-page2, .about-page1, .about-page2a, .about-page2b, .contact{
    padding: 0;
    padding: 50px 165px;
  }
}

@media screen and (max-width:745px) {
  .home-page1, .about-page1 div, .about-page2a, .about-page2b, .contact{
    text-align: center;
    display: block;
  }
  
  .about-page2a{
    display: flex;
    flex-direction: column-reverse;
  }

  .illustration-right, .illustration-left{
    margin-left: 0;
  }

  .home-page1 .illustration-right img, .illustration-left, .illust{
    margin-top: 40px;
  }

  .home-page2, .about-page1, .about-page2a, .about-page2b, .contact{
    padding: 50px 75px;
  }

  .illustration .distance{
    display: none;
  }
}

@media screen and (max-width: 600px) {
  div.container-fluid{
    padding: 12px 30px;
  }

  .home-page1, .home-page2, .about-page1, .about-page2a, .about-page2b, .contact{
    padding: 30px;
  }

  section h1{
    font-size: 40px;
  }

  section h2{
    font-size: 36px;
  }

  section h3{
    font-size: 18px;
  }

  section p{
    font-size: 14px;
  }

  .home-page2 br{
    display: none;
  }
}

/* Gaya untuk pop-up */
.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
}

.popup-content h2 {
  margin-top: 0;
}

.popup-content p {
  margin-bottom: 20px;
}

#popup-ok-btn {
  padding: 5px 10px;
  background-color: #579BB1;
  color: white;
  border: none;
  cursor: pointer;
}

#popup-close-btn {
  padding: 5px 10px;
  background-color: #579BB1;
  color: white;
  border: none;
  cursor: pointer;
}

.error-message {
  color: red;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

/* Gaya transisi halaman */
.box-form {
  opacity: 0;
  animation: fade-in 0.5s ease-in-out forwards;
}

@keyframes fade-in {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

/* ini ngaco parah hapus aja gpp kalo mau benerin wkwkkwk */

.Rectangle-5 {
  width: 90%;
  height: 70%;
  flex-grow: 0;
  margin: 40px 81px 33.6px;
  padding: 22.3px 0 27.1px 14.8px;
  border-radius: 20px;
  background-color: rgba(87, 155, 177, 0.2);
}

.Rectangle-6 {
  width: 600px;
  height: 50px;
  flex-grow: 0;
  margin: 51.2px 49.4px 15px 41.4px;
  padding: 13.5px 469.9px 6.5px 19.1px;
  border-radius: 5px;
  border: solid 1px #e4e4e4;
  background-color: #fff;
}

.Rectangle-7 {
  width: 600px;
  height: 50px;
  flex-grow: 0;
  margin: 15px 49.4px 16.8px 41.4px;
  padding: 13.5px 439.9px 6.5px 19.1px;
  border-radius: 5px;
  border: solid 1px #e4e4e4;
  background-color: #fff;
}

.Rectangle-8 {
  width: 600px;
  height: 194px;
  flex-grow: 0;
  margin: 16.8px 49.4px 42px 41.4px;
  padding: 13.1px 358.9px 151.8px 19.1px;
  border-radius: 5px;
  border: solid 1px #e4e4e4;
  background-color: #fff;
}

.Frame-16 {
  width: 251px;
  height: 50px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  margin: 42px 224.4px 91.2px 215.4px;
  padding: 10px 100px;
  border-radius: 46px;
  background-color: #579bb1;
  align-items: center;
}