*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #222223;
}

body{
  font-size: 13px;
}

body .container-sign{
  display: grid;
  place-items: center;
  min-height: 100vh;
  padding: 30px;
}

a{
  text-decoration: none;
  color: #222223;
}

h3{
  font-size: 15px;
  margin-top: 10px;
}

input, button{
  color: #222223;
  font-size: 13px;
  padding: 8px 10px;
  border: none;
  transition: 1s;
}

input:-webkit-autofill {
  background-color: #f5f5f5;
}

button{
  height: 40px;
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

.text-justify{
  text-align: justify;
}

.bold{
  font-weight: 500;
  letter-spacing: 0.4px;
}

.tosca{
  color: #579BB1;
}

.beige{
  color: #d2c0a1;
}

.beige1{
  color: #e1d7c6;
}

.beige2{
  color: #ece8dd;
}

.beige3{
  color: #f8f4ea;
}

.white{
  color: white;
}

.tosca-bg{
  background-color: #579BB1;
}

.beige1-bg{
  background-color: #e1d7c6;
}

.beige2-bg{
  background-color: #ece8dd;
}

.beige3-bg{
  background-color: #f8f4ea;
}

.grey-bg{
  background-color: #f0f0f0;
}

.white-bg{
  background-color: white;
}

.no-bg{
  background-color: transparent;
}

.radius{
  border-radius: 10px;
}

.no-border{
  border: none;
}

.pointer{
  cursor: pointer;
}

.display-inline{
  display: inline;
}

.display-grid{
  display: grid;
}

.gtc-1fr{
  grid-template-columns: 1fr;
}

.gtc-2fr{
  grid-template-columns: 1fr 1fr;
}

.gtc-3fr{
  grid-template-columns: 2fr 1fr;
}

.display-flex{
  display: flex;
}

.flex-column{
  flex-direction: column;
}

.justify-center{
  justify-content: center;
}

.align-center{
  align-items: center;
}

.full-width{
  width: 100%;
}

.almost-full-width{
  width: 90%;
}

.quarter-width{
  width: 75%;
}

.half-width{
  width: 50%;
}

.width-15{
  width: 15px;
}

.full-height{
  height: 100%;
}

.margin-10{
  margin: 10px;
}

.margin-top-25{
  margin-top: 25px;
}

.margin-bottom-15{
  margin-bottom: 15px;
}

.padding-50-175{
  padding: 50px 175px;
}

.padding-50{
  padding: 50px;
}

.box-form{
  box-shadow: 1px 1px 45px rgba(0, 0, 0, 0.1);
  padding: 30px 40px;
  border-radius: 20px;
}

.sign-ill{
  width: 400px;
}

.sign-logo{
  width: 80px;
}

.form-field:hover{
  background-color: white;
  border: 1.5px solid #ccc ;
}

.no-bg:focus {
  background-color: #f5f5f5;
  outline: none;
  border-radius: 10px;
}

.checkbox{
  width: 30px;
  margin-right: 10px;
}

.div-icon{
  margin: 8px 0px 8px 8px;
  padding: 4px;
  border-radius: 5px;
}

.div-icon2{
  margin: 8px 8px 8px 0px;
  padding: 4px;
  border-radius: 5px;
}

@media (max-width: 860px) {
  .container-sign{
    grid-template-columns: 1fr;
  }

  section.left{
    display: none;
  }

  .box-form{
    width: 100%;
  }
}

/* CSS NAVBAR */

nav.navbar{
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 14px;
}

.width-130{
  width: 130px;
}

.width-40{
  width: 40px;
}

.margin-right-10{
  margin-right: 10px;
}

.margin-right-20{
  margin-right: 20px;
}

div.container-fluid{
  padding: 12px 50px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

/* CSS SECTION */

section.home h1{
  font-size: 70px;
  font-weight: 600;
}

section.home h2{
  font-size: 22px;
}

.gradient1{
  background: linear-gradient(to bottom, white, #ece8dd);
}

.gradient2{
  background: linear-gradient(to bottom, #ece8dd, white);
}

.margin-20{
  margin: 20px 0;
}

.padding-15{
  padding: 0 20px;
}

.height-30{
  height: 30px;
}

div.distance{
  display: none;
}

@media screen and (max-width:1120px) {
  section.home h1{
    font-size: 50px;
  }

  section.home h2{
    font-size: 20px;
  }

  .home-page1, .home-page2{
    padding: 100px;
  }
}

@media screen and (max-width:830px) {
  section.home h1{
    font-size: 45px;
  }

  section.home h2{
    font-size: 19px;
  }

  .home-page1, .home-page2{
    padding: 65px;
  }
}

@media screen and (max-width:760px) {
  .home-page1{
    text-align: center;
    display: block;
  }

  .illu{
    width: 80%;
  }

  div.distance{
    display: block;
  }
}

@media screen and (max-width: 600px) {
  div.container-fluid{
    padding: 12px 30px;
  }

  section.home h1{
    font-size: 40px;
  }

  section.home h2{
    font-size: 18px;
  }

  .home-page1, .home-page2{
    padding: 30px;
  }

  .home-page2 br{
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .home-page2 .ill{
    padding: 0 10px;
  }
}

/* Gaya untuk pop-up */
.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
}

.popup-content h2 {
  margin-top: 0;
}

.popup-content p {
  margin-bottom: 20px;
}

#popup-ok-btn {
  padding: 5px 10px;
  background-color: #579BB1;
  color: white;
  border: none;
  cursor: pointer;
}

.error-message {
  color: red;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

/* Gaya transisi halaman */
.transition-page {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.hidden-page {
  opacity: 0;
}

